.Footer {
    background-color: rgb(94, 92, 92);
    text-align: center;
    color: whitesmoke;
    margin: 0
}

.paraOne {
    font-size: 12px;
}

.marginAround {
    margin-left: 10px;
    margin-right: 10px;
}