.Movie {
    margin: 20px auto;
    width: 80%;
    /* box-shadow: 0 2px 3px #ccc; */
    /* border: 1px solid #eee; */
    padding: 5px;
    box-sizing: border-box;
}

.Movie1 {
    background-color: white;
    padding: 8px;
    /* height: 5%; */
    box-sizing: border-box;
    border-radius: 5px;
}

.Side {
    background-color: white;
    margin-left: 3%;
    width: 250px;
    height: 550px;
    box-sizing: border-box;
    border-radius: 5px;
}